.app-layout {
  display: flex;
  height: 100vh;
  width: 100%;
  background: #f5f6fa;
}

/* Sidebar */
.sidebar {
  width: 240px;
  background: #2f3136;
  color: #fff;
  height: 100vh;
  position: fixed;
  left: 0;
  top: 0;
}

/* Right Section */
.main-wrapper {
  margin-left: 240px;
  display: flex;
  flex-direction: column;
  width: calc(100% - 240px);
  min-height: 100vh;

}

.header {
  position: sticky;
  top: 0;
  z-index: 999;
  background: #ffffff;
}