<div class="container py-4">
  <div class="d-flex justify-content-between mb-3">

    <button routerLink="/dashboard" class="btn btn-outline-primary btn-sm px-3 py-2">
      <i class="fa-solid fa-chevron-left me-1"></i> Back
    </button>

    <button class="btn btn-primary btn-sm" data-bs-toggle="modal" data-bs-target="#addDocumentModal"
      *ngIf="documentCount < 4">
      <i class="fas fa-plus me-1"></i> Add Document
    </button>
    <!-- <span *ngIf="documentCount >= 4" class="text-danger fw-semibold">
      Maximum 4 documents allowed
    </span> -->
  </div>
  <div class="card-clean">
    <h2 class="section-title">Container Details</h2>
    <div class="row">
      <div class="col-md-6">
        <div class="info-row">
          <div class="info-label">Container ID:</div>
          <div class="info-value">1254gdx554</div>
        </div>
        <div class="info-row">
          <div class="info-label">Document Count:</div>
          <div class="info-value">{{ documentCount }}</div>

        </div>
      </div>
      <div class="col-md-6">
        <div class="info-row">
          <div class="info-label">Uploaded by:</div>
          <div class="info-value">E-Mail</div>
        </div>
        <div class="info-row">
          <div class="info-label">Created at:</div>
          <div class="info-value">25/11/25 08:45</div>
        </div>
      </div>
      <div class="info-row">
        <div class="info-label">Updated at:</div>
        <div class="info-value">26/11/25 09:45</div>
      </div>
    </div>
  </div>

  <div class="card-clean">
    <div class="d-flex justify-content-end">

    </div>

    <div class="card-clean">

      <div class="row g-4">

        <!-- BOL -->
        <div class="col-lg-6">
          <div class="document-item">
            <i class="fas fa-file-pdf doc-icon"></i>
            <div class="doc-info">
              <div class="doc-name">BOL.pdf</div>
              <div class="doc-type">Bill Of Lading</div>
            </div>
            <div class="doc-actions">
              <button class="btn btn-outline-primary btn-sm" (click)="openFileModal()">
                <i class="fas fa-eye me-1"></i> View
              </button>
            </div>
          </div>
        </div>

        <!-- Invoice -->
        <div class="col-lg-6">
          <div class="document-item">
            <i class="fas fa-file-pdf doc-icon"></i>
            <div class="doc-info">
              <div class="doc-name">Invoice.pdf</div>
              <div class="doc-type">Invoice</div>
            </div>
            <div class="doc-actions">
              <button class="btn btn-outline-primary btn-sm" (click)="openFileModal()">
                <i class="fas fa-eye me-1"></i> View
              </button>
            </div>
          </div>
        </div>

        <!-- Packing List -->
        <div class="col-lg-6">
          <div class="document-item">
            <i class="fas fa-file-pdf doc-icon"></i>
            <div class="doc-info">
              <div class="doc-name">Packing_List.pdf</div>
              <div class="doc-type">Packing List</div>
            </div>
            <div class="doc-actions">
              <button class="btn btn-outline-primary btn-sm" (click)="openFileModal()">
                <i class="fas fa-eye me-1"></i> View
              </button>
            </div>
          </div>
        </div>

        <div class="col-lg-6">
          <div class="document-item">
            <i class="fas fa-file-pdf doc-icon"></i>
            <div class="doc-info">
              <div class="doc-name">Phytosanitary Certificate.pdf</div>
              <div class="doc-type">Certificate</div>
            </div>
            <div class="doc-actions">
              <button class="btn btn-outline-primary btn-sm" (click)="openFileModal()">
                <i class="fas fa-eye me-1"></i> View
              </button>
            </div>
          </div>
        </div>

      </div>
    </div>

  </div>

  <!-- pdf -->
  <div class="modal fade" id="filePreviewModal" tabindex="-1" aria-labelledby="filePreviewLabel" aria-hidden="true">
    <div class="modal-dialog modal-xl modal-dialog-centered model-width">
      <div class="modal-content">

        <div class="modal-header">
          <h5 class="modal-title" id="filePreviewLabel">
            <i class="fas fa-file-alt me-2"></i> File Preview
          </h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
        </div>

        <div class="modal-body">
          <div class="file-preview-area">
            <p class="m-0 p-0"><strong>File Name:</strong> BOL.pdf</p>
            <p class="m-0 p-0"><strong>Size:</strong> 2.3 MB</p>

            <hr>

            <div class="preview-box preview-pdf">
              <iframe src="../../assets/dummy-pdf_2.pdf" title="PDF Preview" frameborder="0">
              </iframe>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>



  <!-- add doc popup -->
  <div class="modal fade" id="addDocumentModal" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog modal-lg modal-dialog-centered">
      <div class="modal-content shadow-lg">

        <div class="modal-header">
          <h5 class="modal-title">
            <i class="fas fa-upload me-2"></i> Upload Document
          </h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
        </div>

        <div class="modal-body">
          <form>

            <!-- Container ID -->
            <!-- <div class="mb-3">
              <label class="form-label">Container ID</label>
              <input type="text" class="form-control" placeholder="Enter container id">
            </div> -->

            <!-- Document Type -->
            <div class="mb-3">
              <label class="form-label">Document Type</label>
              <select class="form-select">
                <option selected disabled>Select type</option>
                <option>BOL</option>
                <option>Packing List</option>
                <option>Invoice</option>
                <option>Phytosanitary Certificate</option>

              </select>
            </div>

            <div class="mb-3">
              <label class="form-label">Choose File</label>
              <input type="file" class="form-control">
            </div>

          </form>
        </div>

        <div class="modal-footer">
          <button class="select-btn cencel" data-bs-dismiss="modal">Cancel</button>
          <button class="select-btn ">
            <i class="fas fa-cloud-upload-alt me-1"></i> Upload Document
          </button>
        </div>
      </div>
    </div>
  </div>