<div class="document-container">
  <!-- <div class="row mb-4 d-flex justify-content-between align-items-center">
    <div class="col-md-8 d-flex gap-2">
      <div class="input-group ">
        <input type="text" class="form-control" placeholder="Container ID...">

      </div>
      <div class="input-group ">
        <input type="text" class="form-control" placeholder="BL No...">
      </div>

      <button class="btn select-btn " type="button">
        Search
      </button>
      <button class="btn unselect-btn px-3" type="button">
        Reset
      </button>
      <button class="btn select-btn col-md-3 px-3" data-bs-toggle="modal" data-bs-target="#columnModal">
        Fields Configuration
      </button>
    </div>
    <div class="col-md-2">
      <div class="position-relative w-100">
        <button class="btn select-btn dropdown-toggle" (click)="toggleDropdown()" type="button">Client:
          {{ selectedItem || 'Select Client' }}
        </button>
        <ul class="dropdown-menu show w-100" *ngIf="isDropdownOpen"
          style="display:block; position:absolute; top:100%; left:0;">
          <li *ngFor="let item of items">
            <button class="dropdown-item" (click)="selectItem(item)">
              {{ item }}
            </button>
          </li>
        </ul>

      </div>
    </div>
  </div> -->

  <div class="mb-3">
    <div class="card filter-card shadow-sm">
      <div class="card-body">
        <!-- Header -->
        <div class="d-flex justify-content-between align-items-center">
          <h6 class="fw-bold mb-0 items-color">Filters</h6>
          <button class="btn items-color" data-bs-toggle="modal" (click)="showFilterModal = true">
            <i class="fa-solid fa-sliders"></i> Fields Configuration
          </button>
        </div>

        <!-- Filters Row -->
        <div class="row g-3 align-items-end">
          <div class="col-md-3">
            <label class="form-label small">Container ID</label>
            <input type="text" class="form-control" placeholder="Enter Container ID" />
          </div>

          <div class="col-md-3">
            <label class="form-label small">Cargowise reference</label>
            <input type="text" class="form-control" placeholder="Enter Cargowise ref." />
          </div>

          <div class="col-md-3 d-flex gap-2">
            <button class="btn select-btn px-4">Search</button>
            <button class="btn unselect-btn px-4">Reset</button>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- table -->
  <div class="table-container">
  <div class="table-wrapper">
    <table class="table table-hover">
      <thead>
        <tr>
          @for (col of visibleHeaders(); track col.dbColumnName) {
          <th>{{ col.columnName }}</th>
          }
          <th>ACTION</th>
        </tr>
      </thead>
      <tbody>
        @for (row of rows; track row.FILE) {
        <tr>
          @for (col of visibleCols; track col.dbColumnName) { 
          @if(col.dbColumnName==='DOC_TYPE'){
          <td>
            @for (doc of docTypes; track $index) {
            <span class="doc-type-chip" [ngClass]="getDocClass(row.DOC_TYPE, doc)">{{ doc }}</span>
            }
          </td>
          } @else if (col.dbColumnName === 'STATUS'){
          <td>
            <span class="status-chip" [ngClass]="getStatusClass(row.STATUS)">
              {{ row.STATUS }}
            </span>
          </td>
          } @else {
          <td>
            {{ getCellValue(row, col.dbColumnName) }}
          </td>
          } 
          }
          <td>
            <div class="d-flex align-items-center gap-2">
              <a [routerLink]="['/dashboard/documentPanel', row.COUNT]">
                <i class="fas fa-eye action-icon" title="View"></i>
              </a>
              @if(row.COUNT < 4){
              <i class="fa-regular fa-paper-plane action-icon" title="Send Email"></i>
              }
            </div>
          </td>
        </tr>
        }
      </tbody>
    </table>
     <div class="pagination-container">
    <app-pagination></app-pagination>
  </div>
  </div>
  
 
</div>

  <!-- PAGINATION -->
  <!-- <div class="pagination-container"><app-pagination></app-pagination></div> -->
</div>

<!-- pop up for select fields-->
@if(showFilterModal){
<div class="modal" [ngClass]="{ show: showFilterModal }" id="columnModal" tabindex="-1">
  <div class="modal-dialog modal-dialog-centered modal-xl">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title items-color">Select Columns to Display</h5>
        <button type="button" class="btn-close" (click)="showFilterModal = false"></button>
      </div>

      <div class="modal-body">
        <div class="column-grid">
          @for (item of headers(); track $index) {
          <label class="checkbox-item">
            <input type="checkbox" [(ngModel)]="item.isVisible" />
            {{ item.columnName }}
          </label>
          }
        </div>
      </div>
      <div class="modal-footer">
        <button
          [disabled]="visibleCount() >= 10"
          class="btn select-btn"
          (click)="toggleVisibility()"
        >
          Apply
        </button>
      </div>
    </div>
  </div>
</div>
}
