.content-area {
  padding: 20px 30px;
  // height: calc(100vh - 70px);
  height: 91vh;
  overflow-y: auto;
  background: linear-gradient(135deg, #f5f7fa, #e4ecf7);
}


.upload-section {

  background: rgba(255,255,255,0.95);
  border-radius: 16px;
  padding: 40px;
  box-shadow: 0 20px 40px rgba(0,0,0,0.08);
  backdrop-filter: blur(10px);
}

.section-title {
  font-size: 26px;
  font-weight: 600;
  color: #2c3e50;
}

.section-subtitle {
  color: #6c7a89;
  margin-bottom: 30px;
}

/* Upload Area */
.upload-area {
  border: 2px dashed #3498db;
  border-radius: 16px;
  padding: 70px 40px;
  background: linear-gradient(135deg, #f8faff, #eef2ff);
  text-align: center;
  cursor: pointer;
  transition: all 0.3s ease;
}

.upload-area:hover {
  background: linear-gradient(135deg, #eef2ff, #e0e7ff);
  border-color: #3498db;
}

.upload-icon {
  font-size: 48px;
  color: #3498db;
  margin-bottom: 15px;
}

.upload-area h4 {
  margin-bottom: 5px;
  color: #1e293b;
}

.upload-area p {
  font-size: 14px;
  color: #64748b;
  margin-bottom: 20px;
}

/* Buttons */
.select-files-btn {
  padding: 12px 28px;
  background: linear-gradient(135deg, #2883c0, #3498db);
  border: none;
  border-radius: 30px;
  color: white;
  font-weight: 500;
  cursor: pointer;
  transition: all 0.3s;
}

.select-files-btn:hover {
  transform: translateY(-2px);
  box-shadow: 0 10px 20px rgba(99,102,241,0.3);
}

/* File List */
.file-list {
  margin-top: 25px;
  padding: 20px;
  background: #f8fafc;
  border-radius: 12px;
}

.file-list h5 {
  margin-bottom: 12px;
  font-size: 15px;
  color: #334155;
}

.file-item {
  background: white;
  padding: 12px 16px;
  margin-bottom: 10px;
  border-radius: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 4px 10px rgba(0,0,0,0.04);
}

.file-item span {
  display: flex;
  gap: 10px;
  align-items: center;
  font-size: 14px;
}

.file-item i {
  color: #6366f1;
}

.remove-file i {
  color: #ef4444;
  cursor: pointer;
}

/* Action Buttons */
.action-buttons {
  margin-top: 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.clear-btn {
  background: none;
  border: none;
  color: #ef4444;
  font-weight: 500;
  cursor: pointer;
}

.right-buttons {
  display: flex;
  gap: 12px;
}

.outline-btn {
  background: transparent;
  border: 2px solid #3498db;
  padding: 10px 22px;
  border-radius: 30px;
  color: #3498db;
  cursor: pointer;
}

.primary-btn {
  padding: 10px 28px;
  border-radius: 30px;
  border: none;
  background: linear-gradient(135deg, #2883c0, #3498db);
  color: white;
  font-weight: 500;
  cursor: pointer;
  box-shadow: 0 10px 20px #acd3ff4d
}

.primary-btn:hover {
  transform: translateY(-1px);
}

.file-input {
  display: none;
}
