<div class="logo">Berencourt</div>
<!-- <img src="../../../assets/logo.svg" alt="Logo" class="logoize"> -->

<ul class="sidebar-menu">
 
    <!-- <li routerLink="containers" routerLinkActive="active">
        <i class="fas fa-chart-line"></i>Containers </li> -->

    <li routerLink="/upload" routerLinkActive="active">
        <i class="fas fa-upload"></i>
        <span>Upload file</span>
    </li>

        <li routerLink="/dashboard" routerLinkActive="active">
        <i class="fas fa-file-alt"></i>
        <span>Dashboard</span>
    </li>
         <li routerLink="/pending-doc" routerLinkActive="active">
        <i class="fa-solid fa-clock-rotate-left"></i>
        <span>Review Pending</span>
    </li>

   
</ul>

<div class="logout">
    <i class="fas fa-sign-out-alt"></i>
    <span routerLink="/login">Logout</span>
</div>
