* {
  font-family: Inter, system-ui, -apple-system, Segoe UI, sans-serif;
}

.select-btn {
  background-color: #3498db;
  color: white;
  padding: 8px 20px;
  border-radius: 4px;
  border: none;
  cursor: pointer;
  font-size: 14px;
  transition: all 0.3s;
}
.unselect-btn {
  border: 2px solid #3498db;
  color: #3498db;
  padding: 4px 9px;
  border-radius: 4px;
  cursor: pointer;
  font-size: 14px;
  transition: all 0.3s;
}

.items-color {
  color: #3498db;
}
.items-color:hover {
  color: #226fa1;
}
.select-btn:hover {
  background-color: #2980b9;
  color: white;
}
.unselect-btn:hover {
  background-color: #2980b9;
  color: white;
}
//  table
.table-container {
  background: white;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  padding: 20px;
  height: 88vh;
  display: flex;
  flex-direction: column;
}

.table-wrapper {
  flex: 1;
  overflow-y: auto;
}
.document-container {
  background-color: white;
  border-radius: 8px;
  padding: 16px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  height: 91vh;
  overflow: hidden;
}

.table-responsive::-webkit-scrollbar {
  height: 5px;
  width: 5px;
}

.table {
  width: 100%;
  border-collapse: separate;
  border-spacing: 0;
  margin-bottom: 0;
}

.table td,
.table th {
  white-space: nowrap;
}

.table thead th {
  position: sticky;
  top: 0;
  background: #3498db;
  font-size: 13px;
  font-weight: 600;
  color: #fff;
  padding: 16px;
  border-bottom: 1px solid #e2e8f0;
}

.table tbody tr {
  transition: background 0.2s ease;
}

.table tbody tr:hover {
  background: #f0f6ff;
}
.table td {
  font-size: 14px;
  color: #1f2937;
  border-bottom: 1px solid #eef2f7;
  padding: 10px 16px;
}
.action-icon {
  font-size: 15px;
  margin-right: 8px;
  transition: transform 0.2s ease, color 0.2s ease;
}

.action-icon:hover {
  transform: scale(1.15);
}

.table-responsive::-webkit-scrollbar {
  width: 8px;
}

.table-responsive::-webkit-scrollbar-thumb {
  background: #cfd9e6;
  border-radius: 10px;
}
.table-responsive {
  max-height: 72vh;
}

.table-responsive::-webkit-scrollbar {
  width: 8px;
  height: 5px;
}

.table-responsive::-webkit-scrollbar-thumb {
  background: #cfd9e6;
  border-radius: 10px;
}

.file-icon {
  width: 46px;
  height: 46px;
  border-radius: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
  //   font-size: 22px;
  color: white;
  // border: 2px solid #d32f2f;
}
.pagination-container {
  position: sticky;
  bottom: 0;
  background: #ffffff;
  z-index: 10;
  // padding: 16px;
  // border-top: 1px solid #e2e8f0;
}

.invoice {
  background: linear-gradient(135deg, #ff6b6b, #ff8e53);
}

.bol {
  background: linear-gradient(135deg, #4d96ff, #6fa8ff);
}

.packing {
  background: linear-gradient(135deg, #ffb84c, #ffd27f);
}

.phytosanitary {
  background: linear-gradient(135deg, #9b59b6, #be7ed9);
}

input[type='checkbox'] {
  width: 15px;
  height: 15px;
  accent-color: #3498db;
  border-radius: 5px;
  //  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.15);
}
input[type='checkbox']:checked {
  box-shadow: 0 2px 4px rgba(180, 201, 248, 0.15);
}
