.status-success {
  background: #d4edda;
  color: #155724;
  padding: 4px 12px;
  border-radius: 20px;
  font-weight: 600;
  font-size: 12px;
  display: inline-block;
}

 .column-grid {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  margin: 5px;
}

.checkbox-item {
  white-space: nowrap;    
  align-items: center;
  gap: 6px;
  font-size: 16px;
  cursor: pointer;
  margin: 10px;
}
